.colors-dialog {
  max-width: 225px !important;
}

.colors-dialog-content {
  max-width: 125px !important;
  margin: 0 auto;
}

.color-previews {
  display: flex;
  flex-wrap: wrap;
}

.color-preview {
  width: 25%;
  padding: 0.15rem;
}

.color-preview-circle {
  height: 25px;
  width: 100%;
  border-radius: 100% !important;
}

.color-preview-circle--left {
  border-top-left-radius: 25px !important;
  border-bottom-left-radius: 25px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  width: calc(25px / 2);
  height: 25px;
}

.color-preview-circle--right {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  width: calc(25px / 2);
  height: 25px;
}

.selected-colors {
  display: flex;
  flex-wrap: nowrap;

  & > div {
    width: 25%;
    display: flex;
    & > div {
      margin: auto;
      display: flex;
      text-align: center;
    }
    & p {
      display: flex;
      vertical-align: middle;
    }
    & p,
    & svg {
      margin: auto;
    }
  }
}
