@import "styles/_variables.scss";

$period-width: 15px;

.p-table {
  overflow: auto;
  padding-bottom: 15px;
}

.p-table-items {
  display: flex;
  flex-wrap: wrap;
  min-width: 950px;
}

.empty,
.group,
.placeholder-container,
.element-container {
  width: calc(100% / 18 - #{$period-width} / 18);
}

.period {
  width: $period-width;
}

.placeholder-body {
  margin: 1px;
  padding: 4px;
  height: calc(100% - 2px);
  font-size: 9pt;
  line-height: 1.3;
}

.legend {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
