@import "styles/_variables.scss";
@import "styles/theme.scss";
@import "styles/types.scss";

body,
html,
#root,
.site-wrapper {
  position: relative;
  min-height: 100vh;
}

body {
  font-family: "Josefin Sans", sans-serif;
  min-width: 300px;
}

.brand-name,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.nowrap {
  white-space: nowrap;
}

.cursor-pointer {
  cursor: pointer;
}

.typo-sm {
  font-size: .7rem !important;
}

.p-table {
  overflow-x: auto;
  // &::-webkit-scrollbar {
  //   height: 7px;
  //   background-color: white;
  // }
}

a:hover,
a:active {
  color: inherit;
}

.text-decoration-none,
.text-decoration-none:hover {
  text-decoration: none;
}