@import "styles/_variables.scss";

.form-control,
.form-control:focus {
  background-color: transparent !important;
}

.dark {
  background-color: $dark;
  // toolbar
  .navbar {
    .fa-lg,
    .theme-toggler {
      color: rgba(255, 255, 255, 0.5);
      &:hover,
      &:hover .fa-lg {
        color: rgba(255, 255, 255, 0.9);
      }
    }
    .bar1,
    .bar2,
    .bar3 {
      background-color: white;
    }
  }
  .input-group-prepend,
  .input-group-append {
    border-bottom-color: white;
  }
  // inputs
  .form-control,
  .form-control:focus {
    background-color: transparent !important;
    color: white;
  }
  .input-group-text {
    border-bottom-color: white;
  }
  // table scroll bar
  .table-responsive,
  .p-table {
    &::-webkit-scrollbar {
      background-color: #111;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #111;
    }
    &::-webkit-scrollbar-track {
      background-color: #222;
    }
  }
  // popover
  &.popover.bs-popover-left .arrow,
  &.popover.bs-popover-left .arrow::after {
    border-left-color: $dark !important;
  }
  &.popover.bs-popover-right .arrow,
  &.popover.bs-popover-right .arrow::after {
    border-right-color: $dark !important;
  }
  &.popover.bs-popover-top .arrow,
  &.popover.bs-popover-top .arrow::after {
    border-top-color: $dark !important;
  }
  &.popover.bs-popover-bottom .arrow,
  &.popover.bs-popover-bottom .arrow::after {
    border-bottom-color: $dark !important;
  }
  .popover-header {
    background-color: $darker;
  }
  .popover-body {
    background-color: $dark;
  }
  // legend
  .legend-item-content {
    background-color: $dark;
    &.active,
    &:hover {
      color: #333;
    }
  }
  // table list
  .table {
    color: white;
    th,
    td {
      border-color: $darker;
    }
  }
  // white font
  .period,
  .group,
  .popover-body,
  .legend-item,
  .input-group-append .input-group-text,
  footer {
    color: white;
  }
}

.light {
  background-color: $light;
  // toolbar
  .navbar {
    .fa-lg {
      color: rgba(0, 0, 0, 0.5);
      &:hover {
        color: rgba(0, 0, 0, 0.9);
      }
    }
  }
  .bar1,
  .bar2,
  .bar3 {
    background-color: #333;
  }
  // table scroll bar
  .table-responsive,
  .p-table {
    &::-webkit-scrollbar {
      background-color: #999;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #999;
    }
    &::-webkit-scrollbar-track {
      background-color: #ddd;
    }
  }
  // legend
  .legend-item-content {
    background-color: $light;
  }
}

@media (min-width: 768px) {
  .dark {
    .input-group-prepend,
    .input-group-append {
      border-bottom-color: transparent;
    }
    .expanded .input-group-prepend,
    .expanded .input-group-append {
      border-bottom-color: white;
    }
  }

  .light {
    .input-group-prepend,
    .input-group-append {
      border-bottom-color: transparent;
    }
    .expanded .input-group-prepend,
    .expanded .input-group-append {
      border-bottom-color: #333;
    }
  }
}
