.navbar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);

  // navbar items
  .navbar-brand {
    font-weight: bold;
  }
  .fa-lg {
    margin: 0 10px;
  }
  .form-control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid;
  }
  .input-group {
    margin: auto;
    margin-right: 0;
  }
  .input-group,
  .input-append,
  .input-prepend {
    height: 42px;
  }
  .input-group-prepend .input-group-text {
    margin-right: 0.5rem;
  }
  .input-group-text {
    background-color: transparent;
    border: none;
    border-radius: 0;
  }
  .input-group-prepend,
  .input-group-append {
    border-bottom: 1px solid;
  }
  .temp input {
    text-align: right;
    &::placeholder {
      text-align: left;
    }
  }
  .fa-lg,
  .theme-toggler {
    cursor: pointer;
  }
  .btn-no-style {
    background-color: transparent;
    padding: 0;
    border: none;
  }

  // menu toggler
  .menu-toggler {
    display: inline-block;
    cursor: pointer;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 2px;
    margin: 8px 0;
    transition: 0.4s;
  }
  .expanded .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 7px);
    transform: rotate(-45deg) translate(-7px, 7px);
  }
  .expanded .bar2 {
    opacity: 0;
  }
  .expanded .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -7px);
    transform: rotate(45deg) translate(-7px, -7px);
  }
  @media (min-width: 768px) {
    .menu-toggler {
      display: none;
    }
    .input-group-text {
      padding: 0;
    }
    .input-group-prepend {
      cursor: pointer;
    }
    .input-group-append,
    .form-control {
      display: none;
    }
    .expanded .input-group-append,
    .expanded .form-control {
      display: block;
    }
    .expanded {
      margin-right: 15px;
    }
    .expanded .fa-lg {
      margin-right: 0.25rem;
    }
  }
}
