.site-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  align-items: stretch;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  width: 100%;
}

.main-content {
  flex-grow: 1;
  width: 100%;
}
